{% extends "layout.html" %}

{% block content %}

    <h1>{{ course.code }}: {{ course.name }}</h1>
    <hr>
    <div class="row">
        <div class="col-sm-12">
            <div class="rating-block">
                <h4>Average user rating</h4>
                <h2 class="bold padding-bottom-7">{{course.rating }}<small>/ 5</small></h2>
                {% for i in range(course.rating|int) %}
                <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                </button>
                {% endfor %}
                {% for i in range(5-course.rating|int) %}
                <button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                </button>
                {% endfor %}
            </div>
        </div>		
    </div>	
    
    {% if current_user.is_authenticated %}
    <form method="get" action="{{ url_for('course_review', course_id=course.id) }}">
        <button type="submit" class="btn btn-secondary btn-lg btn-block">Review Course</button>
    </form>

    {% endif %}

    <div class="row">
        <div class="col-sm-12">
            <hr/>
            <div class="review-block">
                {% for review in course.reviews %}
                <hr/>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="review-block-name"><a href="{{url_for('profile_user', user_id=review.user_id)}}">{{review.user.username}}</a></div>
                        <div class="review-block-date">{{review.date.strftime("%d-%m-%Y")}}<br/>Today</div>
                    </div>
                    <div class="col-sm-9">
                        <div class="review-block-rate">
                            {% for i in range(review.rating|int) %}
                            <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            </button>
                            {% endfor %}
                            {% for i in range(5-review.rating|int) %}
                            <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            </button>
                            {% endfor %}
                        </div>
                        <div class="review-block-title">{{review.title}}</div>
                        <div id="w74" class="review-block-description">{{review.review}}</div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    


{% endblock %}

